* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --imageTx: 0;
  --imageTy: 0;
  --imageScale: 1;
  --imageDeg: 0deg;
}

.crop {
  background: black;
  border: 2px solid red;
  width: 400px;
  height: 700px;
  margin: 50px 300px;
  position: relative;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.5;
  -webkit-transform: translate3d(var(--imageTx), var(--imageTy), 0) scale(var(--imageScale)) rotate(var(--imageDeg));
          transform: translate3d(var(--imageTx), var(--imageTy), 0) scale(var(--imageScale)) rotate(var(--imageDeg));
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
}

.control {
  position: fixed;
  top: 20px;
  left: 10px;
}

.control label {
  display: block;
}

.control input {
  width: 100px;
}

.control button {
  display: block;
  margin-bottom: 10px;
}

.eyeposition {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 3px;
  height: 3px;
  background: yellow;
  z-index: 10;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0);
}

.frame span {
  display: block;
  position: absolute;
}

.frame .verticalDashed {
  width: 100%;
  height: 33.33%;
  top: 33.33%;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
}

.frame .horizontalDashed {
  width: 33.33%;
  height: 100%;
  left: 33.33%;
  border-left: 1px dashed #fff;
  border-right: 1px dashed #fff;
}

.frame .topLine {
  cursor: ns-resize;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-top: 2px solid lightblue;
}

.frame .rightLine {
  cursor: ew-resize;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  border-right: 2px solid lightblue;
}

.frame .bottomLine {
  cursor: ns-resize;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom: 2px solid lightblue;
}

.frame .leftLine {
  cursor: ew-resize;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  border-left: 2px solid lightblue;
}

.frame .eastDot {
  right: -3px;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background: lightblue;
}

.frame .southDot {
  right: calc(50% - 3px);
  top: -3px;
  width: 6px;
  height: 6px;
  background: lightblue;
}

.frame .westDot {
  left: -3px;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background: lightblue;
}

.frame .northDot {
  left: calc(50% - 3px);
  top: -3px;
  width: 6px;
  height: 6px;
  background: lightblue;
}

.frame .northEastDot {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
  width: 6px;
  height: 6px;
  background: lightblue;
}

.frame .southEastDot {
  cursor: nwse-resize;
  right: -3px;
  bottom: -3px;
  width: 6px;
  height: 6px;
  background: lightblue;
}

.frame .northWestDot {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
  width: 6px;
  height: 6px;
  background: lightblue;
}

.frame .southWestDot {
  cursor: nesw-resize;
  left: -3px;
  bottom: -3px;
  width: 6px;
  height: 6px;
  background: lightblue;
}
/*# sourceMappingURL=keat.css.map */